{% extends 'base/admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <h1>Добро пожаловать в панель администратора</h1>
            </div>
        </div>
    </div>
{% endblock %}
